<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>二小姐的分类页面</title>
    <link rel="icon" href="images/favicon.ico">
    <link rel="stylesheet" href="lib/mui/css/mui.min.css">
    <!--<link rel="stylesheet" href="lib/fontAwesome/css/font-awesome.css">-->
    <link rel="stylesheet" href="lib/fontAwesome/css/font-awesome.css">
    <link rel="stylesheet/less" href="./less/cate.less">
    <script src="./lib/less/less.js"></script>
</head>
<body>
<div id="header">
    <form action="#">
        <input type="search" placeholder="请输入要搜索的商品"/>
    </form>
    <a href="search.html" class="fa fa-search"></a>
    <a href="" class="fa fa-arrow-left"></a>
</div>
<div id="main">
    <ul class="cate-left">
        <!--<li class="active"><a href="#">运动馆</a></li>-->
        <!--<li><a href="#">运动馆</a></li>-->
        <!--<li><a href="#">运动馆</a></li>-->
        <!--<li><a href="#">运动馆</a></li>-->
        <!--<li><a href="#">运动馆</a></li>-->

    </ul>
    <div class="cate-right">
        <div class="mui-scroll-wrapper">
            <div class="mui-scroll">
                <!--这里放置真实显示的DOM内容-->
                <div class="mui-row">
                    <!--<div class="mui-col-xs-4">-->
                        <!--<a href="#">-->
                            <!--<img src="./images/brand1.png" alt=""/>-->
                            <!--<p>奈勒</p>-->
                        <!--</a>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>
</div>
<div id="footer">
    <div class="mui-row">
        <div class="mui-col-xs-3 "><a href="index.html"><i class="fa fa-home"></i><span>首页</span></a></div>
        <div class="mui-col-xs-3 active"><a href="cate.html"><i class="fa fa-bars"></i><span>分类</span></a></div>
        <div class="mui-col-xs-3"><a href="cart.html"><i class="fa fa-shopping-cart"></i><span>购物车</span></a></div>
        <div class="mui-col-xs-3"><a href="userCenter.html"><i class="fa fa-user"></i><span>个人中心</span></a></div>
    </div>
</div>
<script type="text/html" id="top-cate">
    {{each rows as value i}}
        {{if i==0}}
            <li class="active"><a href="javascript:void(0);" index="{{value.id}}"> {{value.categoryName}}</a></li>
        {{else}}
            <li><a href="javascript:void(0);" index="{{value.id}}"> {{value.categoryName}}</a></li>
        {{/if}}
    {{/each}}
</script>
<script type="text/html" id="second-cate">
    {{if total==0}}
        <p>没有数据</p>
    {{else}}
        {{each rows as value i}}
            <div class="mui-col-xs-4">
                <a href="#">
                    <img src="{{value.brandLogo}}" alt=""/>
                    <p>{{value.brandName}}</p>
                </a>
            </div>
        {{/each}}
    {{/if}}
</script>
<script src='./lib/mui/js/mui.min.js'></script>
<script src='./lib/artTemplate/template.js'></script>
<script src='./lib/zepto/zepto.min.js'></script>

<script src='./js/cate.js'></script>
</body>
</html>